@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}

.wrapper {
    width: 600px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 15px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}